<% if (logged_in? && @user==current_user) %>
  <% if !@user.created_events.empty? %>
  <h3>Events created by <%= @user.username %></h3>
    <% @user.created_events.each do |event| %>
      <div>
        <%= event.title %>
      </div>
    <% end %>
 <% else %>
   <h3>No events created by this user yet</h3>
 <% end %>

<% else %>
<br>
<%= link_to "Login First", login_path%>
<% end %>