<h2>All Events</h2>
<p>click on each event to see the creator<p>
<% @events.each do |event| %>
  <div>
    <%= link_to event.title, event_path(event) %>
  </div>
<% end %>

<h2>Past Events</h2>
<% if !@past_events.empty? %>
  <% @past_events.each do |event| %>
    <p><%= event.title %></p>
  <% end %>
<% else %>
  <p>There is no any past events</p>
<% end %>

<h2>Upcoming Events</h2>
<% if !@upcoming.empty? %>
  <% @upcoming.each do |event| %>
  <p><%= event.title %></p>
  <% end %>
<% else %>
  <p>There is no any upcoming events</p>
<% end %>
